<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @textbook.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @textbook.show %>
</p>

<%= link_to 'Edit', edit_textbook_path(@textbook) %> |
<%= link_to 'Back', textbooks_path %>
