<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @textbook.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @textbook.author %>
</p>

<%= link_to 'Edit', edit_textbook_path(@textbook) %> |
<%= link_to 'Back', textbooks_path %>
